<app-nav-user />

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-16 py-3">
                    Cliente
                </th>
                <th scope="col" class="px-6 py-3">
                    Producto
                </th>
                <th scope="col" class="px-6 py-3">
                    Descripccion
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
               
            </tr>
        </thead>
        <tbody>
            @for (item of myBuys; track $index) {
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                    {{item.idCustomerNavigation.name}} {{item.idCustomerNavigation.lastName}}
                </th>
                <td class="px-6 py-4">
                    {{item.idProductNavigation.code}}
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                    {{item.idProductNavigation.description}}
                </td>
                <td class="px-6 py-4">
                    {{item.idProductNavigation.price}}
                </td>

            </tr>
            }



        </tbody>

    </table>
</div>
